.main2{
    padding:5rem 5rem 0 5rem;
    display: flex;
    gap:3rem;
    flex-wrap: wrap;
    /* min-height: 100vh; */
}
.reset , .update{
    height: 2.18rem;
    width:13rem;
    border-radius: 0.3rem;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    outline:none;
    background-color: rgb(244, 237, 250);
    transition: 0.1s ease-in-out;
}
.update:hover{
    background-color: rgb(231, 203, 255);
}
.reset:hover{
    background-color: rgb(231, 203, 255);
}
.alter a{
    text-decoration: none;
    color: black !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
input::file-selector-button{
    height: 2.18rem;
    width:13rem;
    border-radius: 0.3rem;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    outline:none;
    background-color: rgb(244, 237, 250);
    transition: 0.1s ease-in-out;
}
input::file-selector-button:hover{
    background-color: rgb(231, 203, 255);
}
.profileimage_container{
    height: 8rem;
    width:8rem;
    border-radius: 50%;
    background-color: rgb(244, 237, 250);
    cursor: pointer;
    margin-left: 2rem;
}
.profileimage{
    height: 8rem;
    width:8rem;
    border-radius: 50%;
}

.firstsection{
    background-color: white;
    height: 22rem;
    border-radius: 1rem;
    padding-top:2rem;
    width:20rem;
    padding-left:1rem;
}
.alter{
    display: flex;
    text-align: center;
    gap:1rem;
    flex-direction: column;
    margin-top: 1.5rem;
}
.secondsection{
    background-color: white;
    height: 22rem;
    border-radius: 1rem;
    width:32rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.headerportion{
    height: 22rem;
    width:10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.15rem;
    gap:1.2rem;
    /* background-color: rgb(208, 255, 255); */
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.contentportion{
    height: 22rem;
    width:calc(32rem - 8rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.3rem;
    gap:1rem;
    background-color: rgb(243, 243, 251);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.same{
    margin-left:1rem;
}
.text_content{
    padding-top: 2rem;
}










/* CSS Of Table  */
table{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: aliceblue;
}
tr:nth-child(odd){
    background-color: rgb(214, 222, 252);
}
.alteration{
    width:1rem;
    cursor: pointer;
}
.addstudents{
    border:none;
    outline:none;
    border-radius: 0.3rem;
    background-color: rgb(170, 111, 225);
    color:white;
    height: 2.5rem;
    width:12rem;
    cursor: pointer;
    margin-left: 5rem;
    margin-top: 2rem;
}





/* CSS of Edit Students and teacher details */
.main2{
    padding-top: 1.3rem;
}
.login_btn{
    background-color: #ee5684;
    border:none;
    outline:none;
    color:rgb(247, 247, 247);
    height: 2.18rem;
    width:15rem;
    border-radius: 0.3rem;
    font-size: 0.92rem;
    cursor: pointer;
}
.loginp{
    font-size: 1.2rem;
    color:rgb(51, 51, 51);
    margin-bottom: 1.3rem;
    text-align: center;
}
.labels{
    color:rgb(61, 61, 61);
    font-size: 0.86rem;
}
.id , .name , .email , .number, .class, .address, .roll{
    height: 2rem;
    width:15rem;
    border-radius: 0.3rem;
    border: 1px solid rgb(170, 170, 170);
    outline:none;
    padding:0 0.5rem 0 0.5rem;
    margin-bottom: 1rem;
}
.submitbtn{
    height: 2.2rem;
    width:32rem;
    border-radius: 0.3rem;
    border:none;
    outline:none;
    padding:0 0.5rem 0 0.5rem;
    margin-bottom: 1rem;
    cursor: pointer;
    background-color: rgb(170, 111, 225);
    color: white;
}
.detailsform{
    background-color: white;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:2rem;
    width:32rem;
    margin-bottom: 1rem;
}
.id_section , .username_section , .email_section , .roll_section,.address_section,.class_section, .phone_section{
    display: flex;
    flex-direction: column;
    width:100%;
}
.id,.name,.email,.roll,.address,.class,.number,.phone{
    width:100%;
}
.submits{
    margin-top: 0.5rem;
    display: flex;
    /* flex-direction: column; */
    width:100%;
    gap:1rem;
}
.dheader{
    margin-bottom: 1rem;
    font-size: 1rem;
}
